# aliases :D
alias aoeuhtns="echo \"OMG you Dvorak genius\""
alias aoeusnth=aoeuhtns
alias aoeu=aoeuhtns
alias qwerty="echo \"LOL qwerty sux\""
alias asdf=qwerty

# programs
alias del="rmtrash"
alias vmi="vim"
alias chr="open -a /Applications/Google\ Chrome.app"
alias grep="egrep"

# port forwarding :o
alias fwd="sudo ipfw add 100 fwd 127.0.0.1,8000 tcp from any to any 80 in"
alias phttp="python -m SimpleHTTPServer"
alias tidy="tidy -config ~/.tidy"
alias sbp="source ~/.bash_profile"

# other
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -la"
alias pc="pbcopy < "
alias gs="git status"

# highlighting
alias hl="pbpaste | highlight --font=Consolas --font-size=30 --syntax=python -O rtf | pbcopy"

if [[ -a ".local_aliases" ]]; then
    source .local_aliases
fi
