# aliases :D
alias aoeuhtns="echo \"OMG you Dvorak genius\""
alias aoeusnth=aoeuhtns
alias aoeu=aoeuhtns
alias qwerty="echo \"LOL qwerty sux\""
alias asdf=qwerty

# programs
alias vmi="vim"
alias grep="egrep"

# port forwarding :o
alias phttp="python -m http.server"
alias sbp="source ~/.bashrc"

# ls
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -la"

# git
alias g="git" && complete -o default -o nospace -F _git g
alias gs="git status"
alias ga="git add" && complete -o default -o nospace -F _git_add ga 
alias gd="git diff" && complete -o default -o nospace -F _git_diff gd 
alias gg="git grep"

# other
alias untar="tar -zxvf"
# alias ipnb="workon ipython && cd ~/ipnbs && ipython notebook --pylab inline"

alias workon=workon_wrapper

if [[ -a ~/.local_aliases ]]; then
    source ~/.local_aliases
fi
